node_modules/
dist/
release/
*db/
screenshots/*
!screenshots/.gitkeep
!screenshots/*.png
!screenshots/*.jpg
!screenshots/*.jpeg
!screenshots/*.gif
.idea/
coverage/
yarn.error
junit.xml
*.DS_Store
.token
dev-app-update.yml
webpack-visualization/
yarn-error.log
__scripts/
